[font]
size = 10

[font.normal]
family = "FiraCode Nerd Font"
style = "Regular"

[font.bold]
family = "FiraCode Nerd Font"
style = "Bold"

[font.italic]
family = "FiraCode Nerd Font"
style = "Italic"

[font.glyph_offset]
x = 0
y = 0

[scrolling]
history = 10000
multiplier = 5

[general]
import = [
  "ferra.toml",
]
